html, body {
    height: 100%;
}




body {
    font-family: 'Roboto', sans-serif;
}







/*===================================
                Home
===================================*/
#home {
    height: 100%;
}

#home-cover{
    height: 100%;
    background-image: url("../img/bg-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-content-box{
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner{
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

#home-heading h3{
    color: #fff;
}